:root {
	--space-m: 12px;
	--space-xm: 16px;
	--space-l: 24px;
	--space-b: 36px;

	--size-s: 14px;	
	--size-d: 16px;
	--size-l: 20px;

	--color-border: #dee2e6;
	--color-primary: rgb(46, 46, 255);
	--color-white: #fff;
	--color-title: #212529;
	--color-text: #343a40;

	--border-radius: 12px;

	--weight-title: 500;
	--weight-text: 400;

	--page-widht: 960px
}

/* ========================================= */
.page {
	background: var(--color-white);
	padding: 0 15px;

	display: flex;
	justify-content: center;
}

.page_content {
	max-width: var(--page-widht);
	width: 100%;

	display: flex;
	flex-direction: column;

	gap: 80px;
}
/* ========================================= */
.header {
padding: var(--space-l) 0;
border-bottom: 1px solid var(--color-border);

display: flex;
justify-content: space-between;
align-items: center;

position: sticky;

width: var(--page-widht);
height: 74px;
}

.logo {
	font-size: 17px;
	color: var(--color-white);
	background: #563D7C;

	width: var(--space-l);
	height: var(--space-l);
	border-radius: calc(var(--border-radius) / 2);

	display: flex;
	justify-content: center;
	align-items: center;
}

.nav {
display: flex;
}

.nav_inline {
	gap: var(--space-l);
}

.nav_vertical {
	gap: var(--space-xm);
	flex-direction: column;
}

.nav_link {
color: var(--color-text);
font-size: var(--size-d);
text-decoration: none;

line-height: 100%;
}

.nav_link:hover {
	text-decoration: underline;
	color: var(--color-primary);
}

.footer {
	padding: var(--space-l) 0;

	border-top: 1px solid var(--color-border);

	display: flex;

	justify-content: space-between;
}

.footer_copyright {
	font-size: var(--size-s);
	color: var(--color-text);

	display: block;

	margin-top: var(--space-l);
}

.footer_title {
	font-size: var(--size-l);
	color: var(--color-title);

	display: block;
	margin-bottom: var(--space-l);

	font-weight: var(--weight-title);
}

.main {
	display: flex;
	align-items: center;
	gap: 80px;
}

.main_image {
	width: 500px;
	height: 500px;
	border-radius: var(--border-radius);
}

.main_content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--space-l);
}

.main_title {
	display: flex;
	align-items: center;
	font-size: 36px;
	color: var(--color-title);
	font-weight: var(--weight-title);
	line-height: 120%;
}

.main_text {
	display: flex;
	align-items: center;
	color: var(--color-text);
	font-size: 16px;
	font-weight: var(--weight-text);
	line-height: 170%;
	margin-top: 24px;
	margin-bottom: 24px;
}

.button {
	display: inline-block;
	font-size: var(--size-d);
	text-decoration: none;
	padding: var(--space-m) var(--space-xm);
	border-radius: 4px;
}

.main_button {
	color: var(--color-white);
	background-color: #6C757D;
}

.button:hover {
	opacity: 0.7;
}

.featured {
	display: flex;
	flex-direction: row;
	gap: var(--space-b);

	padding: 0;
	border-bottom: 1px solid var(--color-border);
}

.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 26px;
	gap: var(--space-l);
	width: 320px;
}

.card_image {
	height: 64px;
	width: 64px;
	border-radius: var(--space-m);
}

.card_title {
	font-size: 32px;
	font-weight: var(--weight-title);
	color: var(--color-title);
}

.card_text {
	font-weight: var(--weight-text);
	font-size: var(--size-d);
	color: var(--color-text);
	line-height: 170%;
}

.card_button {
	display: flex;
	align-items: center;
	text-decoration-line: underline;
	color: #0D6EFD;
	font-weight: 400;
	font-size: var(--size-d);
	line-height: 100%;
}


.actions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background: #563D7C;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);

	width: var(--page-widht);
	height: 130px;

	padding: var(--space-l);
	border-radius: 8px;

	gap: var(--space-xm);
}

.actions_content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	gap: var(--space-m);

	width: 240px;
	height: 80px;
}

.actions_title {
	display: flex;
	align-items: center;
	font-size: var(--space-l);
	font-weight: var(--weight-title);
	color: var(--color-white);
	line-height: var(--size-d);
}

.actions_button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--color-white);
	width: 240px;
	height: 52px;
	border-radius: 8px;
}

.actions_text_button {
	display: flex;
	align-items: center;
	text-align: center;
	color: var(--color-text);
	font-weight: var(--weight-text);
	font-size: 20px;
	line-height: 100%;
	text-decoration-line: none;
}

